/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* General Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Body text font */
    background-color: #E6F7FF; /* Light Blue color */
}

/* Desktop View Styles */

/* Navigation Bar Styles */
nav {
    width: 100%;
    background: linear-gradient(to right, #48C9B0, #5DADE2);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    z-index: 10000000000;
}
  
  
#logo-placeholder {
    margin: 0%, 0%, 0%, 2%; /* top, right, bottom, and left  */
    flex-shrink: 0; /* This prevents the logo placeholder from shrinking */
    align-items: center;
}

#logo-image {
    max-width: 75px;
    height: auto;
}
  
  
nav ul {
    margin-right: 14%;  /* Added negative margin to move the link texts further to the left */
    list-style-type: none;
    display: flex; /* This will display the links inline */
    flex-shrink: 0; /* This prevents the ul from shrinking */
}
  
  
nav ul li {
    margin-left: 10%; /* Adjust spacing between links */

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Titan One';
}
  

/* Intro Section Styles */
#intro {
    width: 100%;
    padding: 8% 8% 2% 8%; /* Top, right, bottom, left */
    background-color: #ABEBC6; /* Light Green color */
    color: #21618C; /* Dark Blue color */
    box-sizing: border-box;
    text-align: center;
    font-family: 'Titan One'; /* Heading font */
    font-weight: normal;
}

#intro p {
    width: 100%;
    padding: 0%;
    background-color: #ABEBC6; /* Light Green color */
    color: #21618C; /* Dark Blue color */
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lobster', cursive; /* Heading font */
    font-weight: normal;
}

/* Grid Container Styles */
#grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    padding: 0%;
}

/* Grid Item Styles */
.grid-item {
    position: relative;
    overflow: hidden;
    background-size: 140% auto;
    background-position: center center;
    padding-top: 100%;
}

.grid-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 71, 70, 0.284); /* Greenish-Blue with 50% opacity */
    transition: all 0.5s;
}

.grid-item h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    z-index: 2;
}

/* Individual Grid Items Background Images */
#carnival {
    background-image: url('carnival.jpg');
}

#family {
    background-image: url('family.jpg');
}

#utah {
    background-image: url('utah.jpg');
}

#birthday {
    background-image: url('birthday.jpg');
}

/* Grid Item Hover Styles */
.grid-item:hover::after {
    background: rgba(102, 205, 170, 0); /* MediumAquamarine with 0% opacity */
}

.grid-item:hover h2 {
    font-size: 2.5em;
}

/* Footer Styles */
footer {
    background-color: #48C9B0; /* Turquoise color */
    color: #21618C; /* Dark Blue color */
    text-align: center;
    padding: 1%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh; /* Set the height relative to the viewport height */
    font-family: 'Titan One';
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile View Styles */

/* Off-Canvas Button Design for Mobile View */
#mobile_logo-placeholder {
    display: none; /* Show the button on smaller screens */
}

.menu-toggle {
    display: none;
}

.hidden_nav {
    display: none;
}

/* Media query for screens smaller than 768px (phone view) */
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    #mobile_logo-placeholder {
        display: flex; /* Show the button on smaller screens */
        background: linear-gradient(to right, #48C9B0, #5DADE2);
        color: white;
        font-size: 1.5em;
        font-family: 'Titan One';
        font-weight: bold;
        position: relative;
    }

    .menu-toggle {
        display: none;
    }

    .menu-button {
        display: flex;
        padding: 0% 3% 0% 70%; /* Top, right, bottom, left */
        align-items: center; /* vertically center content inside the button */
        justify-content: center; /* horizontally center content inside the button */
    }

    #mobile_logo-image {
        max-width: 40px;
        height: auto;
        padding: 0% 0% 0% 0%; /* Top, right, bottom, left */
    }

    .hidden_nav {
        position: absolute; /* Added this line */
        top: 100%; /* Added this line: start the nav right below the container */
        width: 100%; /* Added this line: make it span the entire width of the container */
        height: 5vh ;  /* Set the desired height */
        overflow-y: auto;  /* Make it scrollable vertically */
    }
    
    #menu-toggle:checked + .hidden_nav {
        display: flex;
        opacity: 1;
        pointer-events: auto;
        height: auto;
        background: linear-gradient(to right, #48C9B0, #5DADE2);
        color: #FFFFFF;
    }
      
    .hidden_nav ul {
        display: block;
        justify-content: center; /* This will center the li items horizontally */
        justify-content: center;
        list-style-type: none;   /* This will remove bullet points from the list */
        line-height: 3vh;
    }
    
    .hidden_nav ul li {
        display: flex;           /* This will make each li a flex container, but it's not necessary unless you have additional content inside each li that you want to style using flexbox */
        position: static;        /* This is the default value, so you can also just omit this line */
    }    
    
    .hidden_nav a {
        text-decoration: none;
        color: white;
        font-size: 0.7em;
        font-family: 'Titan One';
    }

    /* Adjust grid to 4 by 1 for mobile view */
    #grid-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
    }
}
